BASE_URL=https://example.com
LOGIN_URL=https://example.com/#/sd-login
TOPUP_URL=https://example.com/#/sd-topup

LOGIN_USERNAME=
LOGIN_PASSWORD=

PORT=3000
HEADLESS=false
USER_DATA_DIR=storage/user-data-dir

# Ajuste estes seletores para o layout real da SPA.
LOGIN_USERNAME_SELECTOR=.login-item-input >> nth=0
LOGIN_PASSWORD_SELECTOR=.login-item-input >> nth=1
LOGIN_SUBMIT_SELECTOR=.signup-item-signup-enable
LOGIN_SUCCESS_SELECTOR=

TOPUP_AMOUNT_SELECTOR=.input-amount
TOPUP_SUBMIT_SELECTOR=.signup-item-signup-enable, .signup-item-signup-disable

AUTH_CHECK_SELECTOR=
QR_RESPONSE_URL_PATTERN=
